logs
project/project
project/target
target
tmp
.history
.scalastyle
.settings
dist

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/
.idea/dictionaries/

.classpath
/out
/.classpath
/.project
/RUNNING_PID
/.settings
ui/libpeerconnection.log
.cache
.target
bin
.DS_Store
npm-debug.log
spark.log
*.log
local.conf

ui/coverage/
ui/doc/
projectFilesBackup
